{*
 * List of available lists in sidebar.
 * Can be reordered via drag and drop if user has the right to create new lists.
 *}
<div class="sidebar-mobile-toggle">
	<div class="box align-center">
		<button class="sidebar-mobile-toggle-button">
			<i class="fas fa-bars"></i>
			<span>Меню</span>
		</button>
	</div>
</div>

<div class="sidebar-body">
	{if !$lists}
	<div class="custom-p-16 align-center">
		<span class="hint">[`No lists available`]</span>
	</div>
	{/if}

	<ul class="menu with-icons" id="sidebar-lists">
		{if $can_add_lists}
		<li class="bottom-padded">
			{* !!! TODO: accesskeys are experimental *}
			<a href="?action=editor" accesskey="n">
				<i class="fas fa-plus"></i>
				<span>[`New list`]</span>
			</a>
		</li>
		{/if}

		{foreach from=$lists item=l name=sb}
			<li id="list{$l.id}" rel="{$l.sort}"{if !empty($l.current)} class="selected"{/if}">
				<a
					href="?action=list&id={$l.id}"
					{if $smarty.foreach.sb.iteration lte 10}
						{* !!! Hotkeys are experimental an will probably change in future *}
						accesskey="{substr($smarty.foreach.sb.iteration, -1)}"
					{/if}
				>
					<span class="count badge c-white">{$l.count}</span>
					<span class="icon"><i class="fas fa-{$l.icon}"></i></span>
					<span>{$l.name|escape}</span>
				</a>

				<div class="c-list-border {$l.color_class}"></div>
			</li>
		{/foreach}
	</ul>
</div>

{if $can_add_lists && $lists && count($lists) > 1}
<script type="text/javascript">
(function() {
	// reset accesskeys each time order in sidebar changes
	// (!!! experimental an will probably change in future)
	var resetAccesskeys = function() {
		$('#sidebar-lists li').each(function(i) {
			if (i > 9) {
				return false;
			}
			var k = (''+(i+1)).substr(-1);
			$(this).find('a').attr('accesskey', k);
		});
	};

	// make sidebar sortable
	$('#sidebar-lists').sortable({
		distance: 5,
		opacity: 0.75,
		stop: function(e, ui) {
			var li = ui.item;
			var data = {
				id: li.attr('id').substr(4),
			};
			if (li.next().length) {
				data.sort = li.next().attr('rel');
			} else if (li.prev().length) {
				data.sort = 1 + li.prev().attr('rel');
			} else {
				return; // no reason to sort list if there's only one item
			}
			$.post('?module=json&action=listmove', data);
			resetAccesskeys();
		}
	});

	$('.sidebar-mobile-toggle-button').click(function() {
		waShowSidebar('MY-APP-CUSTOM-SIDEBAR-ID-123');
	});
})();
</script>
{/if}

